.feed {
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}

@media (max-width: 768px) {
    .feed {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: column;
    width: 100vw;
   }
}


